.body{
	
	background: #ffffff;
	margin:0px auto;
	font-family: Sans-Serif;

}

.title_head{
	background-color: #33BEBE;
	color: #ffffff;
	padding-top: 10px;

}
.title{
	margin-left: 20px;
}
.contenido{
	width:100%;
	display:flex;
	flex-direction: row;
}
.im{
	width:100%;
	height: 100%;
}
.img{

	margin-top: 25px;

}
.text{
	width:60%;
	margin-left: 20px;
	font-size: 20px;
	margin-top: 10px;
	color: #7C8B88;

}